@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

.retro {
  font-family: var(--font-vt323), "VT323", "Press Start 2P", monospace;
  line-height: 1.2;
  letter-spacing: 1px;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}